{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RiseLab</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-left">
                <img src="{% static 'pics/Untitled3.png' %}" alt="RiseLab Logo">
                <h1>RiseLab</h1>
            </div>
            <div class="nav-links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Projects</a>
                <a href="#">Contact</a>
            </div>
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>

        <header>
            <div class="header-div1">
                <h1 class="header-title">Header TItle here</h1>
                <h1 class="header-descripion">Header Description here</h1>
                <button class="header-button">Apply here</button>
            </div>

            <img src="{% static 'pics/Untitled6.jpg' %}" class="header-img" alt="">
        </header>
        
        <script src="{% static 'index.js' %}"></script>
    </body>
</html>